/* menuResultTest.jsp 레이아웃 */
.menu-grid {
	width:1000px;
	display: grid;
	grid-template-columns: 250px 750px;
	grid-template-rows: 80px 170px;
}

.menuImg {
	width:250px;
	grid-column: 1;
	grid-row: 1/4;
}

.menuTitle {
	width:500px;
	grid-column: 2/4;
	grid-row: 1/2;
}

.menuDescription {
	width:500px;
	grid-column: 2/4;
	grid-row: 2/4;
}

/* gifticonInsert.jsp 레이아웃 */
.gifticon-insert-grid {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(50px, auto);
}

.gifticonName {
	grid-column: 5;
	grid-row: 1;
}

.gifticonPrice {
	grid-column: 5;
	grid-row: 2;
}

.gifticonBrand {
	grid-column: 5;
	grid-row: 3;
}

.gifticonMenu {
	grid-column: 5;
	grid-row: 4;
}

.gifticonImg {
	grid-column: 5;
	grid-row: 5;
}

.gifticonBtn {
	grid-column: 5;
	grid-row: 6;
}


/* menu.jsp 레이아웃 */
.menuSearchGrid {
	width:1000px;
	display: grid;
	grid-template-columns: 1250px 400px;
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.menuSearch {
	grid-column: 1;
	grid-row: 1;	
}

.menuView {
	grid-column: 1;
	grid-row: 2;	
}

.menuRanking {
	grid-column: 2;
	grid-row: 1/2;
}