.menu-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.menuImg {
	grid-column: 1;
	grid-row: 1/4;
	background-color: yellow;
}

.menuTitle {
	grid-column: 2/4;
	grid-row: 1;
	background-color: blue;
}

.menuDescription {
	grid-column: 2/4;
	grid-row: 2/4;
	background-color: green;
}


.gifticon-insert-grid {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(50px, auto);
}

.gifticonName {
	grid-column: 5;
	grid-row: 1;
}

.gifticonPrice {
	grid-column: 5;
	grid-row: 2;
}

.gifticonBrand {
	grid-column: 5;
	grid-row: 3;
}

.gifticonMenu {
	grid-column: 5;
	grid-row: 4;
}

.gifticonImg {
	grid-column: 5;
	grid-row: 5;
}

.gifticonBtn {
	grid-column: 5;
	grid-row: 6;
}



