.menu-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.menuImg {
	grid-column: 1;
	grid-row: 1/4;
	background-color: yellow;
}

.menuTitle {
	grid-column: 2/4;
	grid-row: 1;
	background-color: blue;
}

.menuDescription {
	grid-column: 2/4;
	grid-row: 2/4;
	background-color: green;
}