<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hungpick.dao.IGifticonDao">

	<select id="sltOne" parameterType="String" resultType="QesDto">
		SELECT * 
		FROM 
		QUESTION
		WHERE MEMBER_CODE = #{ memberCode } AND
		QSTN_CODE = #{ qstnCode  } 
		
	</select>
	
	
	
   <insert id="insert" parameterType="QesDto">
	   INSERT  INTO QUESTION       
	                 VALUES(   #{ memberCode} , QUESTION_SEQ.NEXTVAL , #{ qstnTitle } , #{ qstnContent }, TO_DATE( #{ qstnDate } ,'YYYY-MM-DD HH24:MI:SS') ,  #{ qstnConfirm } )
                
   </insert>
	
	<update id="update" parameterType="QesDto">
		UPDATE QUESTION SET QSTN_TITLE = #{ qstnTitle }, QSTN_CONTENT = #{ qstnContent }, QSTN_DATE = TO_DATE( #{qstnDate} ,'YYYY-MM-DD HH24:MI:SS'), QSTN_CONFIRM = #{qstnConfirm} WHERE MEMBER_CODE = #{ memberCode } AND QSTN_CODE = #{ qstnCode }  
	</update>

	<delete id="delete">
		DELETE FROM QUESTION WHERE MEMBER_CODE = #{memberCode } AND QSTN_CODE = #{ qstnCode }
	</delete>
	
	
</mapper>
