<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hungpick.dao.IGifticonDao">

	<select id="showGifticon" resultType="gifticonDto">
		SELECT * FROM GIFTICON ORDER BY GIFTICON_CODE
	</select>

	<select id="select" parameterType="string" resultType="gifticonDto">
		SELECT * FROM GIFTICON WHERE GIFTICON_CODE = #{ gifticonCode } AND BRAND_CODE = #{ brandCode } AND MENU_CODE = #{ menuCode }
	</select>

   <insert id="insert" parameterType="gifticonDto">
	   INSERT  INTO GIFTICON       
	                 VALUES(   #{ gifticonCode } , #{brandCode} , #{ menuCode } , #{ gifticonName },  #{ gifticonImg } ,  #{ gifticonPrice} )
                
   </insert>
	
	<update id="update" parameterType="gifticonDto">
		UPDATE GIFTICON SET #{ gifticonName },  #{ gifticonImg } ,  #{ gifticonPrice}  WHERE GIFTICON_CODE = #{ gifticonCode } AND BRAND_CODE = #{ brandCode } AND MENU_CODE =#{ menuCode }  
	</update>

	<delete id="delete">
		DELETE FROM GIFTICON WHERE GIFTICON_CODE = #{ gifticonCode } AND BRAND_CODE = #{ brandCode } AND MENU_CODE =#{ menuCode }
	</delete>
	
	
</mapper>
