<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hungpick.dao.IUserDao">

	<select id="sltSearch" resultType="userDto" parameterType="String">
		SELECT MEMBER_CODE FROM MEMBERS WHERE MEMBER_CODE = #{memberCode}
	</select>

	<select id="sltMulti" resultType="userDto">
		SELECT * FROM MEMBERS ORDER BY MEMBER_CODE
	</select>
	
	<select id="userLogin" resultType="userDto" parameterType="String">
		SELECT * FROM MEMBERS WHERE MEMBER_ID = #{memberId} AND MEMBER_PW = #{memberPw}
	</select>
	
	<insert id="userRegist" parameterType="userDto">
		INSERT INTO MEMBERS (MEMBER_CODE, MEMBER_ID, MEMBER_PW, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_EMAIL, MEMBER_NUMBER, MEMBER_DATE, HOLD_POINT)
		VALUES ( #{memberCode}, #{memberId}, #{memberPw}, #{memberName}, #{memberNickname}, #{memberEmail}, #{memberNumber}, SYSDATE, #{holdPoint} )
	</insert>

	<!-- ID 중복체크 -->
	<select id="checkId" resultType="String">
		SELECT COUNT(*) FROM MEMBERS WHERE MEMBER_ID = #{memberId}
	</select>
</mapper>
